<!doctype html>
<html class="no-js" ng-app="app">
    <head>
	    <meta charset="utf-8">
	    <title>Easy Services</title>
	    <meta name="description" content="Precisou de um serviço? Abre o Easy Services">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- CSS -->
	    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css"/>
	    <!-- Google Maps API -->
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhbMOIjUo6kBnJ6iBfSySdtBwi3R61ruI"></script>
	    <!-- JS Source -->
	    <script src="bower_components/angular/angular.js"></script>
	    <script src="bower_components/angular-route/angular-route.js"></script>
	    <script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    </head>
    <body ng-controller="engineerController as vm">
    	<div class="container">
    	    <!-- HEADER -->
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li active><a href="">Cadastre-se</a></li>
                    <li disabled><a href="">Procure</a></li>
                </ul>
                <h3 class="text-muted">Easy Services</h3>
            </div>

            <!-- CONTENT -->
            <div class="row content">
                <div class="col-md-7">
                    <div id="map" style="width:645px; height:645px"></div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h2 class="panel-title text-center">Deseja oferecer um serviço? Cadastre-se!<span class="glyphicon glyphicon-map-marker"></span></h2>
                        </div>

                        <div class="panel-body">
                            <form name="registerForm" novalidate>
                                <div class="form-group">
                                    <label for="username">Nome<span class="badge">Todos os campos são obrigatórios!</span></label>
                                    <input type="text" class="form-control" id="username" placeholder="Digite a especialidade" ng-model="vm.engineer.username" required>
                                </div>
                                 <div class="form-group">
                                    <label for="skill">Habilidade</label>
                                    <input type="text" class="form-control" id="skill" placeholder="Digite a especialidade" ng-model="vm.engineer.skill" required>
                                </div>
                                <div class="form-group">
		                            <label for="latitude">Latitude</label>
		                            <input type="text" class="form-control" id="latitude" value="39.500" ng-model="vm.engineer.latitude" readonly>
		                        </div>
		                        <div class="form-group">
		                            <label for="longitude">Longitude</label>
		                            <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="vm.engineer.longitude" readonly>
		                        </div>
		                        <div class="form-group">
		                            <label for="verified">HTML5 Verificar Localidade? <span><button class="btn btn-default btn-xs" ng-click="vm.getLocationHtml()"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
		                            <input type="text" class="form-control" id="verified" placeholder= "Nope" ng-model="vm.engineer.htmlverified" readonly>
		                        </div>

                                <button type="submit" class="btn btn-primary btn-block" ng-click="vm.createEngineer()" ng-disabled="registerForm.$invalid">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <!-- FOOTER -->
            <div class="footer">
                <p class="text-center"><span class="glyphicon glyphicon-check"></span>2016 - Easy Services</p>
            </div>
    	</div>

        
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="components/gmaps/gmaps.module.js"></script>
        <script type="text/javascript" src="components/gmaps/gmaps.service.js"></script>
        <script type="text/javascript" src="app/engineer/engineer.module.js"></script>
        <script type="text/javascript" src="app/engineer/controllers/engineer.controller.js"></script>
        <script type="text/javascript" src="app/engineer/services/engineer.service.js"></script>

    </body>
</html>
